#replys{
  border-style: solid;
    border-width: 1px;
  }

  #replys1{
    border-style: solid;
      border-width: 1px;
    }

    #replys2{
      border-style: solid;
        border-width: 1px;
      }
    .row{
        border-style: solid;
          border-width: 1px;
        }
body{
padding-right: 50px;
padding-left: 50px;
}

  #leftside{
    float:left;
    display:block;
    position:relative;
  }
