#replys{
  border-style: solid;
    border-width: 1px;
  }

  #replys1{
    border-style: solid;
      border-width: 1px;
    }

    #replys2{
      border-style: solid;
        border-width: 1px;
      }
    .row{
        border-style: solid;
          border-width: 1px;
        }
body{
  left: 10px;
    top: 10px;
}
